@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
  font-family: 'Press Start 2P', cursive;
  width:100%;
  height:auto;
  background-color: black;
  overflow-x: hidden;
  color: black;
}

::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-track{
  background:#f1f1f1;
}

::-webkit-scrollbar-thumb{
  background:gold;
  border-radius:12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover{
  background:gold;
}

nav{
  width:100%;
  height:100%;
}

.nav-container{
  width:100%;
  height:100%;
  display:flex;
  justify-content:space-around;
  align-items: center;
}

.logo{
  color:white;
  font-size:2rem;
  font-weight:bold;
  margin-right:auto;
}

.logo span{
  color:gold;
  text-shadow: 0 0 10px gold;
}

nav ul{
  width:100%;
  display:flex;
  justify-content:flex-end;
  align-items:center;
  position:static;
  gap:20px;
  list-style: none;
}

nav li{
  height:50px;
}

nav a{
  height:100%;
  padding:0 30px;
  text-decoration:none;
  display:flex;
  align-items:center;
  color:white;
}

section{
  width:100%;
  min-height:90vh;
}

.main-container{
  background: linear-gradient(120deg, #f2e6cf, #e2c9a3, #f2e6cf);
  background-size: 200% 200%;
  display:flex;
  padding-left: 40px;
  justify-content:space-between;
  align-items:center;
  line-height: 2.8rem;
  transform: translateY(20px);
  transition: transform 700ms ease-in-out, opacity 700ms ease-in-out;
  opacity:0;
}

.main-container.show{
  transform: translateY(0);
  opacity:1;
}

.main-container.animate-bg{
  animation: bgEase 10s ease-in-out forwards;
}

@keyframes bgEase {
  from{
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%; 
  }
}

.main-container .main-pic{
  width:700px;
  height:80vh;
  border-radius:100%;
  overflow:hidden;
  box-shadow:0 0 50px gold;
  animation: floatPic 10s ease-in-out infinite alternate;
}

.main-container .main-pic img{
  width:100%;
}

@keyframes floatPic {
  0% { transform: translateX(0); }
  50% { transform: translateX(-20px); }
  100% { transform: translateX(0); }
}

.main-container .main-pic:hover{
  animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate{
    0%{
        scale:1;
    }

    50%{
        scale:1.05;
    }

    100%{
        scale:1;
    }
}

.description{
  text-align: center;
  width:auto;
  height:auto;
  margin-right:20px;
}

.name{
  position:relative;
  font-family: 'Press Start 2P', cursive;
  font-size:2.1rem;
  width:100%;
  text-transform:uppercase;
  -webkit-text-stroke:1px #bf4080;
  color:#fffff7;
  z-index:10;
}

.name::before{
  content: attr(data-text);
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-family: inherit;
  font-size: 2.1rem;
  color: #bf4080;
  width: 100%;
  height: 100%;
  animation: animateTextColor 3s infinite linear;
  z-index: -1;
}


@keyframes animateTextColor {
  0% {
    color: #00b4d8;
  }
  20% {
    color: #bf4080; 
  }
  40% {
    color: #fe5f55; 
  }
  60% {
    color: #6f2ed8; 
  }
  80% {
    color: #e6f14a; 
  }
  100% {
    color: #00b4d8; 
  }
}

.course{
    font-family: 'Press Start 2P', cursive;
    color:greenyellow;
    text-shadow: 0 0 10px green;
    overflow: hidden;
    width:0;
    display: inline-block;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: typing 8s steps(40, end) infinite, blink-caret .75s step-end infinite;
}

@keyframes typing {
      0% { 
        width:0 
    }
      40% { 
        width:100% 
    }
      60% { 
        width:100% 
    }
      100% { 
        width:0 
    }
}

@keyframes blink-caret {
      from, to { 
        border-color: transparent 
    }
      50% { 
        border-color: orange 
    } 
}

.education-describe{
    font-size:1.2rem;
    margin-top:20px;
    line-height:2rem;
}

.major{
    font-weight:800;
    color:#FF4500;
    text-shadow: 0 0 10px #FF4500;
}

.dropping-texts {
  display: inline-block;
  width: 180px;
  text-align: left;
  height: 36px;
  vertical-align: -2px;
  font-weight: bold;
  margin-top: 10px;;
}

.dropping-texts > div {
  font-size:0px;
  opacity:0;
  margin-left:-30px;
  position:absolute;
  font-weight:300;   
  box-shadow: 0px 60px 25px -20px rgba(0,0,0,0.5);
}

.dropping-texts > div:nth-child(1) {
  animation: roll 5s linear infinite 0s;
}
.dropping-texts > div:nth-child(2) {
  animation: roll 5s linear infinite 1s;
}
.dropping-texts > div:nth-child(3) {
  animation: roll 5s linear infinite 2s;
}

@keyframes roll {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  20% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  27% {
    font-size:0px;
    opacity:0.5;
    margin-left:20px;
    margin-top:100px;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}

@keyframes roll2 {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  30% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  37% {
    font-size:1500px;
    opacity:0;
    margin-left:-1000px;
    margin-top:-800px;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}

@keyframes bg {
  0% {background: #ff0075;}
  3% {background: #0094ff;}
  20% {background: #0094ff;}
  23% {background: #b200ff;}
  40% {background: #b200ff;}
  43% {background: #8BC34A;}
  60% {background: #8BC34A;}
  63% {background: #F44336;}
  80% {background: #F44336;}
  83% {background: #F44336;}
  100% {background: #F44336;}
}

.second-container{
  font-family: 'Poppins', sans-serif;
  background-color: #1e1e1e;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: left;
  text-align: left;
  object-fit: contain;
  border: 2px solid black;
  width: auto;
  height:auto;
  color: white;
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.introduction{
  width:auto;
  height:230px;
  margin:auto;
  margin-left:8px;
  padding-top:50px;
  padding-bottom:50px;
  font-size: 50px;
}

.second-container.show{
  opacity: 1;
  transform: translateY(0);
}

.intro-paragraph{
  font-size:35px;
  line-height:2rem;
  margin-top: 30px;
  margin-bottom:30px;
}

.CV-button{
  display:inline-block;
  padding:10px 20px;
  font-size:1.2rem;
  color:white;
  background-color: gold;
  border:none;
  border-radius:5px;
  text-decoration:none;
  box-shadow: 0 0 10px gold;
  transition:0.3s ease;
  cursor: pointer;
  margin-top: 180px;
  margin-left:10px;
}

.CV-button:hover{
  background-color: darkgoldenrod;
  box-shadow: 0 0 15px gold;
  transform: scale(1.1) translateY(-5px);
}

.social-icons{
  margin-top:10px;
  margin-left:8px;
}

.social-icons a{
  display:inline-flex;
  justify-content: center;
  align-items: center;
  width:4rem;
  height:4rem;
  background-color: transparent;
  border:0.2rem solid gold;
  border-radius:50%;
  margin:0.5rem 1rem 2rem 0;
  transition:0.3s ease;
  color: gray;
}

.social-icons a:hover{
  background-color: gold;
  color:black;
  transform: scale(1.3) translateY(-5px);
  box-shadow: 0 0 15px gold;
}

